body {
	background: black;
	min-height: 200vh;
}

footer {
	w
}

.logo {
	padding-left: 10px;
}

.thin-text {
	font-weight:300;
	background: rgba(96, 125, 139, .4);
	padding: 40px;
	border-radius: 10px;
}

.activator {
	 height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }