body {
	background: #795548;
	min-height: 200vh;
}

footer {
	background: black;
}

.logo {
	padding-left: 10px;
}

.thin-text {
	font-weight:300;
	background: rgba(96, 125, 139, .4);
	padding: 40px;
	border-radius: 10px;
}

.activator {
	 height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  li > div {
    text-align: left;
  }

  .collapsible-header :hover {
    background-color: yellow;

  }

  .collapsible {
    margin-bottom: 0px;
    margin-top: 12px;

  }

  .card {
    background: #e64a19;
  }