body {
  background-image:  url(../images/wood3.jpeg);
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

footer {
	background: black;
}

.logo {
  padding-left: 10px;
}

.thin-text {
  font-weight: 300;
  background: rgba(96, 125, 139, .4);
  padding: 40px;
  border-radius: 10px;
}

.activator {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

main {
  flex: 1 0 auto;
}

li > div {
  text-align: left;
}

.collapsible {
  margin-bottom: 0px;
  margin-top: 12px;
  border: 1px solid #000;
}
  
.card{
  border: 1px solid #000;
}

.btn {
  padding-left: 10px;
  background: #37474f; 
}

.gpa {
  background: #DB5A23;
}

.fa-envelope:hover {
  color: #DB5A23;
}

.fa-envelope{
  padding-right: 10px;
}

.fa-linkedin:hover {
  color: #DB5A23;
}

.fa-linkedin {
  padding-right: 20px;
}
